# Environment Configuration
NODE_ENV=

# Public version displayed on App Store and Play Store
APP_VERSION=

# Runtime Version: Crucial for Expo Updates (OTA). 
# Defines the native code compatibility. Change this only when adding/updating native modules or plugins.
APP_RUNTIME_VERSION=

# iOS Internal Build Number (CFBundleVersion). 
# MUST increase every time you upload a build to TestFlight/App Store for the CURRENT APP_VERSION.
IOS_BUILD_NUMBER=

# Android Internal Version Code. 
# MUST be an integer and MUST increase every time you upload to Play Store.
ANDROID_VERSION_CODE=

# General Build Number (often used for internal tracking or to sync both platforms)
BUILD_NUMBER=

# App Identification
APP_NAME=

APP_SLUG=

IOS_BUNDLE_IDENTIFIER=

ANDROID_PACKAGE=